#was-container #was-nav{
font-size:12px;
}
#was-container {
	background-color:#F2F0F0; 
	box-shadow: 1px 5px 5px rgba(0,0,0,0.1); 
	min-height: 500px; 
	padding: 20px;
	border-radius: 4px;
	border:1px solid #ADD8E6;
	margin-left:20px;
        margin-right:20px;
        margin-top:0px;
        margin-bottom:0px;
}
#was-container-header {
        margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:5px;
}
#was-container-footer {
        background-color:#F9F9F9;
        box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
        border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
padding-bottom:10px;
        margin-left:20px;
        margin-right:20px;
        margin-top:5px;
        margin-bottom:2px;
        border:1px solid #ADD8E6;
     color:#005580;
}
#was-header-msg {
background-color:#FFFAFA;
text-align:center;
}
#company-info{
padding:5px;
}
#was-footer-signups,#was-header-signups{
padding:4px;
}
.error, .valid{
display:'-moz-compact'!important;
padding-left:30px;
}
.accordion-heading {
    background-color: #FFE8BF;
}
.accordion-group {
background-color:white;
}
#was-editor{
border-radius:4px;
border:1px solid #ADD8E6;
padding:5px;
background-color:#F2F0F0;
}
.nav-tabs > li {
 background-color: #FFE8BF;
}
.wpas table {
    background-color: white !important;
}
#header-branding{
 background-color: #222222;
padding:20px;
min-height: 40px;
border-radius:4px;
}
#title-bar {
    margin:30px;
}
.wpas #title-bar h4 {
 font-size:20px !important;
}
#title-bar h4 i{
padding-right:3px; 
}

#add-new a {
margin-left:5px;	
}
#was-nav{
min-height:500px;
}
#ent{
font-size:18px;
color:#0088CC;
}
#app{
font-size:20px;
color:#778899;
}
.wpas input[type="text"],
.wpas input[type="submit"],
.wpas input[type="password"],
.wpas textarea {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.wpas textarea.wp-editor-area {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wpas .btn-small {
margin-bottom:9px !important;
}
.layout-buttons {
margin-top:25px !important;
margin-left:25px !important;
margin-right:20px !important;
}
.wpas label, .wpas input,.wpas select, .wpas textarea {
    font-size: 12px !important;
}
#editor-frm-btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;	
}
h3 i{
padding-right:8px;
}
p i{
padding-right:8px;
padding-left:20px;
}
.accordion-heading i{
padding-right:8px;
}

label.error {
  display: -moz-stack !important;
  font-weight: bold;
  font-size: 11px !important;
  color: red;
  padding: 2px 5px;
  margin-top: 2px;
}
label.valid {
  color: green !important;
  font-size: 13px !important;
  padding-top:6px;
/*background: url('../img/valid.png') center center no-repeat; */
display: inline-block;
/*text-indent: -9999px; */
}


	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; cursor:move; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
#sortable-delete li {
    height: 0;
    width: 0;
    overflow: hidden;
}

.field-row{
border:1px #ADD8E6 solid;
font-size:12px;
border-radius:4px;
background:#F8F8FF;
padding-bottom: 4px;
padding-left: 4px;
padding-top: 15px;
padding-right:4px;
margin-right:15px;
cursor:move;
}
.field-blt-row{
border:1px #ADD8E6 solid;
font-size:12px;
border-radius:4px;
background:#FFE8BF;
padding-bottom: 4px;
padding-left: 4px;
padding-top: 15px;
padding-right:4px;
margin-right:15px;
}
#sortable-delete{
margin-bottom:15px;
}
#option-form .controls {
margin-left:0px !important;
}
#option-form .control-label{
margin-right:10px;
}
.wpas .checkbox {
    background-color: transparent;	
}
.wpas input:-moz-placeholder {
  color: #999999 !important;
}
#support-cust-nav-div{
margin-left:40px;
}
.wpas a [class^="icon-"], a [class*=" icon-"] {
text-decoration:none !important;
}
.wpas .icon-trash{
color:red !important;
}
.wpas .tab-content {
padding:20px;
}
.wpas input[type="file"] {
height: 23px !important;
}
.wpas h4{
font-size:18px !important;
}
#list_apps{
padding:5px;
}
.wpas input[type="checkbox"]{
margin-top: 0 !important;
}
.tabgrp{
cursor:move;
margin-bottom:5px;
padding: 10px;
background-color:#FFE8BF;
border:6px double #778899;
border-radius:4px;
}
.accgrp{
cursor:move;
margin-bottom:5px;
padding: 10px;
background-color:#ADD8E6;
border:6px double #6495ED;
border-radius:4px;
}
.tab{
background-color:#FFE8BF;
border:2px #778899 solid;
border-radius:4px;
cursor:move;
margin-bottom:5px;
padding:10px;
}
.acc{
background-color:#ADD8E6;
border:2px #6495ED solid;
border-radius:4px;
cursor:move;
margin-bottom:5px;
padding:10px;
}
#layout-ctr{
min-height:300px;
border:2px gray dotted;
border-radius:4px;
padding:20px;
background-color:#FFF7EF;
}
#form-layout-ctr{
min-height:550px;
border:2px gray dotted;
border-radius:4px;
padding:20px;
background-color:#FFF7EF;
}
.acc-ctr{
border:2px #6495ED solid;
border-radius:4px;
background:#ADD8E6;
cursor:move;
margin-bottom:5px;
padding:10px;
}
.tab-ctr{
border:2px #778899 solid;
border-radius:4px;
background:#FFE8BF;
cursor:move;
margin-bottom:5px;
padding:10px;
}
.tabgrp-ctr{
border:6px double #778899;
border-radius:4px;
background:white;
padding:10px;
cursor:move;
margin:5px;
}
.accgrp-ctr{
border:6px double #6495ED;
border-radius:4px;
background:white;
padding:10px;
cursor:move;
margin:5px;
}
.layout-bin{
min-height:300px;
}
.multitab-ctr{
border:1px orange dotted;
padding:30px;
}
.multiattr-ctr{
border:2px #F8F8FF dotted;
padding:30px;
}
.multiacc-ctr{
border:1px #ADD8E6 dotted;
padding:30px;
}
.dragme{
padding:100px;
text-align:center;
font-size:30px;
color:#ADD8E6;
min-height:450px;
border:2px dashed;
}
#app-edit-btn{
padding-top:20px;
padding-right:20px;
}
.theader{
background:#E0EBEF;
}
#cb{
width:10px;
}
#tabs{
min-height:550px;
}
.wpas .table{
font-size: 12px;
}
.layout-edit-icons{
cursor:pointer;
font-size:20px;
}
.icon-red{
color:red;
}
.span3 i{
margin-right:3px;
}
a i{
margin-right:3px;
}
button i{
margin-right:3px;
}
#footer-version{
color:#0088CC;
text-align: right;
}
#validation-options{
padding-top:10px;
border:1px solid #ADD8E6;
}
#field-title{
font-size: 12px;
margin-right:25px;
margin-left:25px;
padding-bottom: 10px;
padding-left:8px;
font-weight:bolder;
}
.affix {
    top: 10px;
}
/* time picker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
/* form-layouts */

.el-attr,.form-attr,.tabattr,.form-element{
border:2px #6495ED solid;
border-radius:4px;
background:#F5FFFA;
cursor:move;
margin-bottom:5px;
padding:10px;
color:#6495ED;
font-weight:bold;
}
.wpas .form-text{
border:2px #6495ED solid;
border-radius:4px;
background:#F8F8FF;
cursor:move;
margin-bottom:5px;
padding:10px;
color:#6495ED;
font-weight:bold;
}
.wpas .attr-sel{
margin:2px;
}
.wpas #layout-ctr .layout-edit-icons i.icon-minus-sign{
padding-top:8px;
}
.wpas .layout-edit-icons i.icon-minus-sign{
color: #FF0000;
}
.form-hr{
border:2px #6495ED solid;
border-radius:4px;
background:#E0FFFF;
cursor:move;
margin-bottom:5px;
padding:10px;
color:#6495ED;
font-weight:bold;
}
.wpas .form-element .form-inside{
padding-top:10px;
padding-left:10px;
padding-right:10px;
background-color: #FCFCFC;
border: 1px solid #D3D3D3;
border-radius: 4px;
margin-top: 5px;
}
#was-editor .icon-info-sign{
padding-left:5px;
padding-right:5px;
}
.wpas .pagination .current{
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
    float: left;
    padding: 9px 14px;
    position: relative;
    text-decoration: none;
}
.wpas .tablenav{
padding-bottom: 10px;
}
.wpas .dots{
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
.wpas .req{
    color: #FF0000;
    font-weight: bold;
}
.wpas .form-field-str{
padding:5px;
}
#field-labels .btn-std{
    background-color: #FFEFD5;
    border: 3px double #CD853F;
    padding: 5px;
    text-align: center;
border-radius: 4px;
font-size: 11px;
}
#field-labels .hidden-fld{
    background-color: #CFEFD5;
    border: 3px double #FD853F;
    padding: 5px;
    text-align: center;
border-radius: 4px;
font-size: 11px;
}
#field-labels .elmt{
    background-color: #FFF;
    border: 3px double #B0C4DE;
    padding: 5px;
border-radius: 4px;
    text-align: center;
font-size: 11px;
}
.wpas hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-width: 2px 0 !important;
    border-color:#808080 !important;
}
#shc-table_col,#shc-table_ids{
width:auto;
}
.wpas-std-textarea{
    min-width:60%;
    min-height:150px;
}
.wpas .socialize li a > img {
   height: 20px;
   width: 20px;
}
.wpas ul.socialize{
   margin:0 !important;
}
.wpas .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin:0px;
}
.wpas .wpas-links{
margin-left:20px;
}
.well-white{
background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#shc-layout-tags table, 
	#shc-layout-tags thead, 
	#shc-layout-tags tbody, 
	#shc-layout-tags th, 
	#shc-layout-tags td, 
	#shc-layout-tags tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#shc-layout-tags thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#shc-layout-tags tr { border: 1px solid #ccc; }
 
	#shc-layout-tags td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#shc-layout-tags td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#shc-layout-tags td:before { content: attr(data-title); }
}
#field-labels .glb-fld {
    background-color: #F2F0F0;
    border: 3px double #808080;
    border-radius: 4px;
    font-size: 11px;
    padding: 5px;
    text-align: center;
}
.ui-sortable tr:hover {
        cursor: move;
}
